! --- syntax
! https://wiki.archlinux.org/index.php/x_resources#Xresources_syntax
! --- ideas
! https://gitlab.com/dwt1/dotfiles/blob/master/.Xresources
! https://gist.github.com/AnthonyDiGirolamo/d2124446c8656eb578a64c9e9dd4cae0

! xft - X FreeType
! ================

! --- guidelines
! https://wiki.archlinux.org/index.php/Font_configuration#Anti-aliasing

! font sizes inconsistent across apps if 96dpi isnt forced.
Xft.dpi: 96

Xft.antialias: 1
Xft.hinting: 1
Xft.autohint: 0
Xft.hintstyle: hintslight

Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! xterm terminal
! ==============

! --- guidelines
! https://wiki.archlinux.org/index.php/Xterm

XTerm.termName: xterm-256color
XTerm*locale: 1
XTerm*metaSendsEscape: 1

XTerm*backarrowKey: 0
XTerm.ttyModes: erase ^?

! font
XTerm*renderFont: 1
XTerm*faceName: xft:Hack Nerd Font Mono:size=9
XTerm*faceSize: 10
XTerm*utf8: 2

! buffer
XTerm*buffered: 0

! scroll
XTerm*saveLines: 16000
XTerm*scrollBar: 0
XTerm*scrollLines: 1
XTerm*rightScrollBar: 0
Xterm*alternateScroll: 1

! terminal colors
! ===============

#include ".config/Xthemes/nord.Xresource"
